<div class="random-beer-container">
    <img class="beer-img" src="{{image_url}}" alt="{{name}} image">
    <div class="random-beer-text">
        <p class="beer-name">{{name}}</p>
        <p><font color="#bfbfbf">{{tagline}}</font></p>
        <p>{{description}}</p>
        <p><b>Food Pairing:</b></p>
        {{#each food_pairing}}
            <div class="food-list-div">
                <li >{{this}}</li>
            </div>
        {{/each}}
        <p><b>Brewer tips: </b>{{brewers_tips}}</p>
    </div>    
</div>