{{> navBar}}
<div class="card-grid">
    {{#each beers}}
        <div class="flip-card">
            <div class="beer-card flip-card-inner">
                <div class="flip-card-front">
                    <div class="beer-card-image-container">
                        <img src="{{this.image_url}}" class="beer-card-image" alt="{{this.name}} image">
                    </div>
                    <h5 class="beer-card-text">{{this.name}}</h5>
                    <p class="beer-card-text">{{this.tagline}}</font></p>
                </div>
                <div class="flip-card-back">
                    <p class="beer-card-text">{{this.description}}</p>
                    <!--<a class="card-more-button" href="">More</a>-->
                </div>
            </div>
        </div>
    {{/each}}
</div>